
  <div class="jumbotron">
    <h1>RentDue</h1>
  </div>



<div class="container">
  
  <div class="row text-center homesection">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <%=link_to 'Sign in!', new_user_session_path, class: 'btn btn-success btn-lg' %>
      <%= link_to 'Sign up!', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
    </div>
  </div>


<div class="row text-center homesection">
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <p class="lead">Welcome to <i>RentDue</i>. The revolutionary way to pay for rent and utilites.</p>
  </div>
</div>

</div>
