<div class="navbar navbar-default navbar-fixed-bottom transparent">
  <div class="container">
        <p class="navbar-text pull-left" >@Copyright Rent Due</p>
        
        <a class ="navbar-btn btn-default btn pull-right btn-margin-left">Contact Us</a>

        <a class ="navbar-btn btn-default btn pull-right">About</a>
        
</div>
</div>